/*

********************************************************
 
》~ Project: MKebsi - My Personal Website 
》~ Version: v1.0.0
》~ Online Demo: https://mrkebsi.github.io/

********************************************************

*/

/*Colors*/
:root
{
    --aqua: #00ffff;
    --dark-aqua: #006666;
    --orange: #ff4e00;
    --dark: #0d173a;
    --white: #ffffff;
    --black: #000000;
}
